.navLinksContainer {
  transition: transform 0.3s ease-in;
}

@media screen and (max-width: 640px) {
  :global(.active) {
    border-right: 2px solid white;
  }

  .navbarLink:not(:global(.active)):hover {
    border-right: 2px solid gray;
  }
}

@media screen and (min-width: 640px) {
  :global(.active) {
    border-bottom: 4px solid white;
    border-right: 0px;
  }

  .navbarLink:not(:global(.active)):hover {
    border-bottom: 4px solid gray;
  }
}
